/* Reset CSS */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

::selection{
	color: $color-text-secondary;
	background: $color-secondary;
}

html,
body{
	scroll-behavior: smooth;
}

html{
	font-size: 16px;
	text-size-adjust: none;
	scrollbar-width: thin;
	scrollbar-color: $color-primary $color-bg;
	&::-webkit-scrollbar{
		width: 8px;
	}
	&::-webkit-scrollbar-thumb{
		background-color: $color-primary;
	}
	&::-webkit-scrollbar-track{
		background-color: $color-bg;
	}
}

body {
	color: rgba($color-text-primary, $alpha: 0.8);
	font-weight: 400;
	font-family: $font-primary;
	background-color: $color-bg;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: unset;
}

a[href*="mailto:"],
a[target="_blank"]{
	word-wrap: anywhere;
}

button,
button:hover,
button:focus,
button:active {
	outline: none;
}

ul,
ol {
	list-style: none;
}

img{
	object-fit: cover;
}

.user-select-none{
	pointer-events: none;
}

.list-inline{
	font-size: 0;
	&-item{
		font-size: 1rem;
	}
}

/* Custom Container Style */
.container--custom{
	@include min-desktop-lg{
		max-width: toRem(1252);
	}
}

/* Preloader Section Style */
.preloader{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background: $color-btn-bg;
	background: radial-gradient(top, circle, $color-btn-bg 0%, $color-bg 72%);
	&__content.hide{
		transition: transform 0.6s cubic-bezier(0.36, 0, 0.66, -0.56);
	}
	&__progressbar{
		width: 65vw;
		height: 2px;
		border-radius: 2px;
		background-color: rgba($color-btn-bg, $alpha: 0.9);
		&__progress{
			width: 0;
			height: 100%;
			border-radius: inherit;
			@extend %gradient-bg;
		}
	}
	&__counter{
		font-size: toRem(24);
		font-weight: 700;
	}
	&.hide,
	&__content.hide{
		transform: translate(0%, 100vh) matrix(1, 0, 0, 1, 0, 0);
	}
	&.hide{
		transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
	}
}

/* Common Section Gap Style */
.section-gap{
	padding: 3rem 0;
	@include min-tablet{
		padding: 5rem 0;
	}
	&--fix{
		padding-bottom: 1rem;
		@include min-tablet{
			padding-bottom: calc(5rem - 55px);
		}
	}
}

/* Common Section Heading Style */
.section-header{
	margin-bottom: toRem(52);
	@include desktop-lg{
		margin-bottom: toRem(40);
	}
	@include tablet{
		margin-bottom: toRem(30);
	}
	&__title{
		font-size: toRem(70);
		@extend %gradient-text;
		@extend %shadow;
		@include tablet{
			font-size: toRem(50);
		}
		@include mobile{
			font-size: toRem(38);
		}
		@include min-desktop{
			line-height: toRem(84);
		}
	}
}

/* Common Large Text Style */
.text-lg{
	font-weight: 500;
	line-height: toRem(30);
	@extend %shadow;
	@include min-desktop-lg{
		width: 55%;
		font-size: toRem(20);
	}
}

/* Common Link Text Style */
.link-text{
	text-decoration: underline $color-primary;
	@extend %transition;
	&:hover,
	&:focus{
		color: $color-primary;
		text-decoration: underline $color-secondary;
	}
}