/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;700&display=swap');

/* Typography Reset */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
    font-family: $font-secondary;
}
h1,.h1{
    font-size: toRem(36);
    font-weight: 700;
    letter-spacing: 0.02em;
}
h2,.h2{
    font-size: toRem(30);
}
h3,.h3{
    font-size: toRem(24);
}
h4,.h4{
    font-size: toRem(18);
}
h5,.h5{
    font-size: toRem(12);
}
p{
    font-size: toRem(16);
    @include mobile{
        font-size: toRem(14);
    }
}