// SCSS Variable's

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Fira Sans Condensed', sans-serif;

$color-primary:#8030d7;
$color-secondary:#5a12dc;
$color-text-primary:#E5E7EB;
$color-text-secondary:#F9FAFB;
$color-btn-bg:#1F2937;
$color-bg:#111827;
$color-black:#000000;
$color-white:#ffffff;